{% extends 'base.html' %}

{% block title %} SN {% endblock %}

{% block main %}
{% include 'menu.html' %}
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-8 sidenav pt-1">
      <div class="bd-example">

              <img class="d-block rounded mx-auto" src="{{MEDIA_URL}}static/image/banner.png" alt="First slide">
              <div class="d-none d-md-block text-shadow font-weight-bolder text-center">
                <h1>Test pseudo social network</h1>
                <p>Friend add\delete\request system</p>
                <a href="{% url 'registration:login' %}">Войти</a> или
                <a href="{% url 'registration:register' %}">Зарегистрироваться</a>
              </div>

        </div>
    </div>
  </div>
</div>
{% endblock %}
